input[type="text"], input[type="password"], textarea {
	line-height: 1;
	border: 0;
	text-decoration: none;
	display: inline-block;
	padding: 0.15em 0.3em;
	border: 1px solid #999;

	/* Gradiente */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	/* Gradiente */
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	border: 1px solid #008c44;
	-moz-box-shadow: 0 0 2px #008c44, transparent 0 0 0;
	-webkit-box-shadow: 0 0 2px #008c44, transparent 0 0 0;
	box-shadow: 0 0 2px #008c44, transparent 0 0 0;
}

input[type="submit"], input[type="reset"], input[type="button"], button {
	line-height: 1;
	border: 0;
	text-decoration: none;
	display: inline-block;
	padding: .5em 1em;

	font-weight: bold;
	color:#FFF;

	background: #2c9937; /* Old browsers */
	background: -moz-linear-gradient(top,  #2c9937 1%, #62ba6f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#2c9937), color-stop(100%,#62ba6f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2c9937 1%,#62ba6f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2c9937 1%,#62ba6f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2c9937 1%,#62ba6f 100%); /* IE10+ */
	background: linear-gradient(top,  #2c9937 1%,#62ba6f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c9937', endColorstr='#62ba6f',GradientType=0 ); /* IE6-9 */
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button:hover {
	background: #008c44; /* Old browsers */
	background: -moz-linear-gradient(top,  #008c44 2%, #62ba6f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#008c44), color-stop(100%,#62ba6f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #008c44 2%,#62ba6f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #008c44 2%,#62ba6f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #008c44 2%,#62ba6f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #008c44 2%,#62ba6f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008c44', endColorstr='#62ba6f',GradientType=0 ); /* IE6-9 */
}

input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active, button:active {
	background: #62ba6f; /* Old browsers */
	background: -moz-linear-gradient(top,  #62ba6f 0%, #008c44 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#62ba6f), color-stop(100%,#008c44)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #62ba6f 0%,#008c44 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #62ba6f 0%,#008c44 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #62ba6f 0%,#008c44 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #62ba6f 0%,#008c44 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62ba6f', endColorstr='#008c44',GradientType=0 ); /* IE6-9 */
}

select {
	background: #FFFFFF;
	border: 1px solid #999;
}

option {
	background: #C8F2CD;
}