a, a:hover, a:active, a:focus {
	outline:0;
	direction:ltr;
}

.wrapper {
	height:25px;
	background: -moz-linear-gradient(top, #26517c 0%, #26517c 50%, #003466 51%, #003466 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #26517c), color-stop(50%, #26517c), color-stop(51%, #003466), color-stop(100%, #003466));
	background: -webkit-linear-gradient(top, #26517c 0%, #26517c 50%, #003466 51%, #003466 100%);
	background: -o-linear-gradient(top, #26517c 0%, #26517c 50%, #003466 51%, #003466 100%);
	background: -ms-linear-gradient(top, #26517c 0%, #26517c 50%, #003466 51%, #003466 100%);
	background: linear-gradient(top, #26517c 0%, #26517c 50%, #003466 51%, #003466 100%);
}

.mainmenu {
	position:absolute;
	z-index:100;
	font-weight:normal;
	font-size:90%;
	line-height:25px;
	//left:50%;
	//margin-left:-303px;
	//width:606px;
}

ul.menu {
	padding:0;
	margin:0;
	list-style:none;
	width:100px;
	overflow:hidden;
	float:left;
	margin-right:1px;
}

ul.menu a {
	background:#369;
	text-decoration:none;
	font-weight: bold;
	color: #FFFFFF;
	padding-left:5px;
}

ul.menu li.list {
	float:left;
	width:250px;
	margin:-32767px -125px 0px 0px;
}

ul.menu li.list a.category {
	position:relative;
	z-index:50;
	display:block;
	float:left;
	width:120px;
	margin-top:32767px;
	background:transparent;
}

ul.menu li.list a.category:hover,
ul.menu li.list a.category:focus,
ul.menu li.list a.category:active {
	margin-right:1px;
	background: -moz-linear-gradient(top, #16dc8f 0%, #00ab65 50%, #028752 51%, #028752 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #16dc8f), color-stop(50%, #16dc8f), color-stop(51%, #028752), color-stop(100%, #028752));
	background: -webkit-linear-gradient(top, #16dc8f 0%, #00ab65 50%, #028752 51%, #028752 100%);
	background: -o-linear-gradient(top, #16dc8f 0%, #00ab65 50%, #028752 51%, #028752 100%);
	background: -ms-linear-gradient(top, #16dc8f 0%, #00ab65 50%, #028752 51%, #028752 100%);
	background: linear-gradient(top, #16dc8f 0%, #00ab65 50%, #028752 51%, #028752 100%);
}

ul.submenu {
	float:left;
	padding:25px 0px 0px 0px;
	margin:0;
	background-color: #16dc8f;
	margin:-25px 0px 0px 0px;
}

ul.submenu li a {
	float:left;
	width:120px;
	background-color: #16dc8f;
	clear:left;
	color:#fff;
}

ul.submenu li a.endlist {
}

ul.submenu li a.endlist:hover,
ul.submenu li a.endlist:focus,
ul.submenu li a.endlist:active {
}

ul.submenu a:hover,
ul.submenu a:focus,
ul.submenu a:active {
	margin-right:1px;
	background: -moz-linear-gradient(top, #16dc8f 0%, #00ab65 50%, #028752 51%, #028752 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #16dc8f), color-stop(50%, #16dc8f), color-stop(51%, #028752), color-stop(100%, #028752));
	background: -webkit-linear-gradient(top, #16dc8f 0%, #00ab65 50%, #028752 51%, #028752 100%);
	background: -o-linear-gradient(top, #16dc8f 0%, #00ab65 50%, #028752 51%, #028752 100%);
	background: -ms-linear-gradient(top, #16dc8f 0%, #00ab65 50%, #028752 51%, #028752 100%);
	background: linear-gradient(top, #16dc8f 0%, #00ab65 50%, #028752 51%, #028752 100%);
	border: 1px solid #028752;
}

ul.submenu li ul {
	z-index: 900;
	top: 0;
	left: 110px;
	background: #eaeaea;
}